body { 
    font-family: 'Syne' !important; 

    margin: 0 auto!important;
  }

  #main {
    display: flex!important;
 
  }


/*  header */

li
:hover{
    background-color: #DC9F96;
    color: white;
}

#site-logo #site-logo-inner{
    padding: 31px 0px 30px 37px;
}



/* footer */

#site-footer 
    {text-align: center;
    padding: 20px;
    }



/* formulaire nous rencontrer*/  

.formp{
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.formback{
    background-color: white;
    border-radius: 7px;
    max-width: 383px;
}

.form-rencontrer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bouton-form{
    max-width: 199px;
    border-radius: 5px;
    background-color: #E0B9B4;
}

/* formulaire commande */

#wpforms-submit-143{
    background-color: #E0B9B4;
    width: 191px;
}

.wpforms-submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


div.wpforms-container-full .wpforms-field-label{
    color: white;
}

.wpforms-container .wpforms-submit-container{
    margin-right: 150px;
}

/* bouton page commander */

.bouton-entier{
    display: flex;
    flex-direction: row;
    width: 100px;
}

.bouton-nombre{
    display: flex;
    width: 61px;
    height: 56px;
    background-color: white;
    border-radius: 11px 0px 0px 11px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

.bouton-nombre p{
    margin: 0px;
}

.contient-plus-moins{
    width: 41px;
    height: 56px;
    background-color: white;
    border-radius: 0px 11px 11px 0px;
}

.plus{
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#DC9F96;
    margin-bottom: 1px;
    border-radius: 0px 11px 0px 0px;
    font-size: 20px;
    padding-top: 20px;
    color: white;
}

.plus p{
    margin: 0px;
    margin-bottom: 20px;
}

.moins{
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DC9F96;
    border-radius: 0px 0px 11px 0px;
    font-size: 20px;
    color: white;
}

.moins p{
    margin: 0px;
}